* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: black;
  color: whitesmoke;
  scroll-behavior: smooth;
}

/* html {
  scrollbar-width: 24px;
  scrollbar-color: red;
} */

main {
  position: relative;
}

section {
  min-height: 100vh;
  width: 100%;
  /* border: 1px solid white; */
  position: relative;
  z-index: 2;
}

#canvas::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/background-m.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}

#section-1 {
  --gap: 20px;
  position: relative;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 60px;

    .nav-elem:nth-child(2) i {
      color: red;
    }

    .nav-elem svg {
      max-width: 100px;
    }

  }

  .middle {
    display: flex;
    padding: 20px;
    gap: var(--gap);
    /* background-color: rgba(233, 222, 207, 0.158); */

    .left,
    .right {
      width: 50%;
    }

    .left {
      display: flex;
      align-items: center;
      justify-content: end;
      padding-block-start: 3.5rem;
      /* background-color: rgba(255, 0, 0, 0.226); */
    }

    h1 {
      font-size: 60px;
      line-height: 0.9;
      text-align: right;
    }
  }

  .last {
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .main-text {
        font-size: 20px;
        line-height: 1.3;
      }

      p {
        padding-top: 24px;
        font-size: 13px;
        line-height: 1.3;
        color: rgba(255, 255, 255, 0.349);
      }
    }
  }

  .firstline {
    height: 1px;
    width: 30rem;
    background-color: rgba(255, 0, 0, 0.863);
    transform: rotate(45deg) translate(-5rem, -17rem);
    position: absolute;
  }

  .secondline {
    height: 1px;
    width: 8rem;
    background-color: rgba(255, 0, 0, 0.863);
    position: absolute;
    right: 0;
    transform: rotate(-45deg) translate(2.5rem, -33rem);
  }
}

#section-2 {
  padding: 30px 20px;
  padding-top: 4rem;

  .title {
    font-size: 0.4rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 20rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    padding-top: 2rem;

    .project {
      padding-left: 10rem;
      display: flex;
      align-items: flex-start;
      gap: 3.5rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      opacity: 0.3;
      transition: all 0.3s linear;
      cursor: pointer;

      .year {
        width: 10%;
        text-align: end;
        font-size: 0.5rem;
        font-weight: 100;
        margin-top: 0.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .project-title {
        font-size: 3rem;
        font-weight: normal;
        line-height: 1;
        letter-spacing: 3px;
      }
    }

    .project:hover {
      opacity: 1;
    }

  }
}

main:has(#section-2 .project:hover) #canvas::after {
  opacity: 0;
}

.images {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.images img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: all 0.3s linear;
}

main:has(#section-2 .project[img-title="tomorrowland"]:hover) .images #tomorrowland {
  opacity: 1;
  background-color: rgb(4, 9, 27);
}

main:has(#section-2 .project[img-title="navypier"]:hover) .images #navypier {
  opacity: 1;
  background-color: rgb(6, 15, 46);
}

main:has(#section-2 .project[img-title="msichicago"]:hover) .images #msichicago {
  opacity: 1;
  background-color: rgb(16, 26, 59);
}

main:has(#section-2 .project[img-title="louisephone"]:hover) .images #louisephone {
  opacity: 1;
  background-color: rgba(28, 32, 48, 0.274);
}

main:has(#section-2 .project[img-title="kikkfestival"]:hover) .images #kikkfestival {
  opacity: 1;
  background-color: rgb(19, 24, 71);
}

main:has(#section-2 .project[img-title="kemedycenter"]:hover) .images #kemedycenter {
  opacity: 1;
  background-color: rgb(16, 46, 44);
}

main:has(#section-2 .project[img-title="royaloperaofwallonia"]:hover) .images #royaloperaofwallonia {

  opacity: 1;
  background-color: rgb(102, 27, 37);
}